* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-image:url(./pattern-light-bg.svg);
  background-color: #faf5f3;
  padding-top: 50px;
  padding-left: 200px;
  padding-bottom: 100px;
}
.first-cintainer {
  background-image: url(./pattern-light-bg.svg);
  background-color: #faf5f3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 130px;
  margin-bottom: 150px;
}

.hero {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  width: 550px;
  height: 600px;
}
h1 {
  color: #062630;
  font-size: 65px;
  font-weight: bold;
  padding-bottom: 40px;
}
p {
  color: #385159;
  font-size: 20px;
  margin-bottom: 30px;
}
.button1 {
  background-color: #fff5ef;
  border-radius: 8px;
  border: 2px solid #062630;
  color: #062630;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 24px;
  justify-content: center;
  width: 330px;
  height: 60px;
  gap: 16px;
}
.avatar {
  width: 110px;
  height: 40px;
}
.member {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.sec-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  margin-bottom: 150px;
}
.read {
  width: 603px;
  height: 553px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2 {
  color: #062630;
  font-size: 59px;
  padding-bottom: 40px;
  justify-content: center;
}
.third-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container4 {
  background-image: url(./pattern-light-bg.svg);
  background-color: #faf5f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 90px;
  padding-top: 90px;
  margin: 150px;
  font-weight: bold;
  border-radius: 8px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
li {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 110;
}
h3 {
  color: #062630;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 24px;
  padding-bottom: 20px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
li div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  flex-wrap: wrap;
}
#table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-bottom: 20px;
  margin-right: 35px;
}
#text {
  color: #062630;
  font-size: 20px;
}
.tech {
  color: #062630;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}
.section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 100px;
  flex-wrap: nowrap;
}
.button-p {
  border: 3px solid black;
  border-radius: 8px;
  width: 280px;
  height: 60px;
  color: #062630;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff5ef;

  font-weight: bold;
  margin-right: 100px;
}
.price-text {
  color: #062630;
  font-size: 25px;
  margin-bottom: 20px;
}
#membership {
  color: #062630;
  font-size: 50px;
  text-align: center;
}
.table-price {
  border: 1px solid #e6e1df;
  border-radius: 8px;
  padding: 24px;
  width: 310px;
  height: 370px;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.center-table {
  border: 1px solid #e6e1df;
  border-radius: 8px;
  padding: 24px;
  width: 340px;
  height: 380px;
  background-color: #faf5f3;
}
hr {
  margin: 10px;
  border: 1px solid #e6e1df;
}
.p-section5 {
  color: #062630;
  font-size: 34px;
  display: inline;
}
span {
  color: #385159;
  font-size: 25px;
}
.stars {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 60px;
  height: 60px;
  text-align: center;
  margin-right: 70px;
}
.section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 100px;
}
.p-sectin6 {
  color: #062630;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  align-items: center;
}
footer {
  background-color: #062630;
  background-image: url(./pattern-dark-bg.svg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 200px;
  height: 600px;
}
footer h1 {
  color: #faf5f3;
  font-size: 60px;
  text-align: center;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer button {
  width: fit-content;
  height: 70px;
  gap: 16px;
  border: 3px solid white;
  color: white;
  background-color: #062630;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 8px;
  padding-left: 24px;
  padding-right: 16px;

  flex-wrap: nowrap;
  font-weight: bold;
}
.footer-p {
  color: #faf5f3;
  font-size: 20px;
  margin-bottom: 30px;
  flex-wrap: nowrap;
}
.div-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  margin-top: 10px;
  padding-top: 10px;
  width: 80%;
}
footer hr {
  width: 1100px;
  color: white;
  margin-top: 70px;
}
#div-end {
  color: #ffffff;
  font-size: 20px;
}
